.app {
  display: flex;
  flex-direction: row;
  margin: 1rem;

  .game-board {
    margin-right: 1rem;
    display: flex;
    justify-content: flex-end;
    flex: 1;
    flex-direction: row;
  }

  .game-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 1rem;
  }
}
