@import "~normalize.css";
@import "~bulma";
@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
  font-size: 12px;

  body {
    font-family: 'Raleway', sans-serif;
    .Root {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      .content {
        flex: 1;
      }
    }
  }
}